@import url("https://fonts.googleapis.com/css2?family=Koulen&JosefinSansy=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Koulen&family=Permanent+Marker&display=swap"); */

#bannerImg {
    /* background-image: url("/images/bg/bg-image-21.jpg"); */
    background-image: url("/images/bdc/background/gutter1-bg.jpg");
    background-image: fill;
    background-position: center;
    object-fit: cover;
}
.read-info {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 15px;
    text-align: right;
}
.parallax-content {
    position: absolute;
    left: 50%;
    margin-top: 5rem;
    transform: translateX(-50%);
    width: 100%;
}

.parallax-fix {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

.parallax-scroll {
    /* For Safari only */
    background-attachment: scroll;
}

.parallax {
    /* The image used */
    /* background-image: url("/images/bg/bg-image-1.jpg"); */
    background-image: url("/images/bdc/background/sewer-min-scaled.jpeg");

    /* Set a specific height */
    min-height: 50vh;
    min-width: 100vw;
    display: block;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    /* position: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url("/images/bdc/background/bdc-bg-01b.jpg");

    /* Set a specific height */
    min-height: 50vh;
    display: block;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    /* The image used */
    background-image: url("/images/bdc/background/bdc-bg-03c.jpg");

    /* Set a specific height */
    min-height: 50vh;
    display: block;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-container {
    width: 100vw;
    height: 70vh;
    padding: 10vh 20px 100px 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.profile-container {
    width: 100vw;
    height: auto;
    padding: 10vh 20px 100px 20px;
    display: block;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.dog-container {
    align-content: flex-end;
    align-items: flex-end;
}
.customFont {
    font-family: "Koulen", cursive;
}
.customTitleFont {
    /* font-family: "Permanent Marker", cursive; */
    font-family: "Nosifer";
    color: #ffdf0b;
    text-transform: uppercase;
    text-shadow: -1px 4px 4px black;
    /* margin-top: 0px !important;
    margin-bottom: 0px !important; */
}
/* @media only screen and (min-width: 768px) {
    .customTitleFont {
        font-size: 5rem;
    }
} */
/* @media only screen and (min-width: 1200px) {
    .customTitleFont {
        font-size: 7rem;
    }
} */
.customTitleStyle {
    /* font-family: "Permanent Marker", cursive; */
    text-shadow: -2px 2px 0px yellow;
    font-size: 3.5rem;
}
.customTitleFont-bottom-20 {
    margin-bottom: 20px;
}
.btn-a,
.btn-b {
    border: 1px solid yellow;
}
.btn-a,
.btn-b:hover {
    background-color: aliceblue;
    color: black;
}
.btn-a:hover {
    background-color: var(--primary-alta);
    color: white;
}
.btn-b {
    color: white;
    background-color: none;
}
.horizontal {
    display: inline-block;
    margin-top: 2.5rem;
    width: 100px;
    text-align: center;
    height: 3px;
    color: yellow;
    opacity: 1;
}
.shadow {
    position: absolute;
    font-size: 90pt;
    color: black;
    opacity: 0.2;
    top: 5px;
    left: 400px;
    z-index: -1;
}
.inner {
    display: inline-block;
    /* letter-spacing: -4px; */
    vertical-align: top;
    /* margin: 30px 110px; */
    /* line-height: 60px; */
    color: skyblue;
    font-size: 0;
}
.inner span:first-child {
    color: pink;
}

.inner span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    letter-spacing: 0;
    font-size: 5.5rem;
}

.inner span:before {
    content: attr(data-title);
    transform-origin: 0 100%;
    transform: scale(3);
    position: absolute;
    opacity: 0.3;
    bottom: -8px;
    z-index: -1;
    left: 0;
}

.inner span + span:before {
    left: 22px;
}

.dogs-info {
    list-style-type: none;
    padding-left: 0;
}
.dogs-info-link {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.float-l {
    float: left !important;
}
.banner-desc {
    font-size: 1.5rem;
    max-height: inherit;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.footer-title {
    font-weight: 500;
}

.centerblock {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
/* feather icon sizes */
@media only screen and (min-width: 2400px) {
    .icon-sm {
        font-size: 18px;
        padding-top: 15px;
    }
}
@media only screen and (min-width: 1200px) {
    .icon-sm {
        font-size: 18px;
        padding-top: 5px;
    }
}
@media only screen and (min-width: 768px) {
    .icon-sm {
        font-size: 18px;
        padding-top: 15px;
    }
}
@media only screen and (min-width: 2400px) {
    .icon-md {
        font-size: 25px;
        padding-top: 15px;
    }
}
@media only screen and (min-width: 1200px) {
    .icon-md {
        font-size: 25px;
        padding-top: 5px;
    }
}
@media only screen and (min-width: 768px) {
    .icon-md {
        font-size: 25px;
        padding-top: 15px;
    }
}
.icon-lg {
    font-size: 35px;
}
.img-valign-bottom {
    vertical-align: bottom;
}
.bg-dark-opacity-75 {
    background: rgba(33, 37, 41, 0.9) !important;
}
.fade-animation {
    transition-delay: 3s;
    transition-timing-function: ease-in;
}
.text-success {
    color: #26b170;
}
.text-warning {
    color: #ffdf0b;
}
.text-pending {
    color: #808080;
}
.icon-green {
    color: #26b170;
    padding-right: 12px;
}
a.btn-mr-3 {
    margin-right: 3rem;
}
mark.arrow {
    background: transparent;
    color: #ffdf0b;
}
.customIcon {
    height: 22px !important;
    width: 22px !important;
}
.customIconFooter {
    height: 22px !important;
    width: 22px !important;
    margin-top: 5px !important;
}

.row > .mintForm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 5rem;
    background-color: var(--primary-alta);
    border-radius: 2rem;
    min-height: 60vh;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mintTitle {
    font-size: 4rem;
    font-weight: bold;
}

.mintSupply {
    font-style: italic;
    opacity: 0.5;
}
.mintPrice,
.mintTotal {
    font-size: 2.5rem;
    flex-direction: horizontal;
    float: right;
    justify-content: flex-start;
    vertical-align: middle;
}
.mintTotal {
    display: flex;
    text-align: left;
    font-size: 3.5rem;
}
.qty {
    display: flex;
    text-align: left;
    justify-content: space-between;
    vertical-align: middle;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    font-size: 2.5rem;
}
.qty .counter {
    color: white;
    display: inline-block;

    font-size: 4rem;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;

    color: white;
    width: 3rem;
    height: 3rem;
    font: 3rem/1 Arial, sans-serif;
    text-align: center;
    border: none;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;

    color: white;
    width: 3rem;
    height: 3rem;
    font: 3rem/1 Arial, sans-serif;
    text-align: center;
    border: none;
    background-clip: padding-box;
}
.qty .maxMint {
    font-weight: bold;
    float: right;
}
.NFTDisplay {
    object-fit: cover;
    background-color: black;
    border-radius: 1rem;
}
